@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-center">"Tylko/Teraz Rock" - albums reviews 1991 - 2021</h1>

<br>

<h4>Explore the database of all the reviews published in polish #1 magazine 
    about rock music during the 30 years of its existance.</h4>

<br>

<h4>Find out what marks your favourite <a href="artists">artists</a> and <a href="albums">albums</a> got.</h4>

<br><br><br>

<h5>Database is based on work of Mr. Jacek Gracka, 
    who shares this data as .xlsx file every year.</h5>

<br>

<h5>You can find his latest publication
<a href="https://www.terazmuzyka.pl/tylko-teraz-rock-indeks-1991-2021/">here.</a>
</h5> 
